<div class="card text-dark bg-light mb-3">
  <h5 class="card-header"><%= result["name"] %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= result["full_name"] %></h5>
    <p class="card-text"><%= result["description"] %></p>
    <div>
      <i class="fas fa-star"></i> <%= result["stargazers_count"] %>
      <i class="fas fa-code-branch"></i> <%= result["forks_count"] %>
    </div>
    <br />
    <a href="<%= result["html_url"] %>" target="_blank" class="btn btn-dark"><i class="fab fa-github-square"></i> View on GitHub</a>

  </div>
  <% unless result["language"].nil? %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Primarily written in <%= language_label result["language"] %></li>
    </ul>
  <% end %>
  <div class="card-footer">
    <small class="text-muted">Last updated <%= time_ago_in_words @search.updated_at %> ago</small>
  </div>
</div>